<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</p>
  <%= f.text_field :bod %>
  <%= f.text_field :weight %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
